<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<div th:replace="common/common::head"></div>
	<div th:replace="common/common::logo"></div>
	<div th:replace="common/common::topbar"></div>
	<div th:replace="common/common::style"></div>
	<div th:replace="common/common::sidebar"></div>
	<div th:replace="common/common::foot"></div>
	<link rel="stylesheet" type="text/css" th:href="@{/thirdStyledata/css/center.css}">
	<style type="text/css">
		html,body{margin:0;padding:0;}
		.iw_poi_title {color:#CC5522;font-size:14px;font-weight:bold;overflow:hidden;padding-right:13px;white-space:nowrap}
		.iw_poi_content {font:12px arial,sans-serif;overflow:visible;padding-top:4px;white-space:-moz-pre-wrap;word-wrap:break-word}
	</style>
	<script type="text/javascript" src="http://api.map.baidu.com/api?key=&v=1.1&services=true"></script>
</head>
<body>
<div id="header">

	<div id="contents">
		<div class="wrapper clearfix">
			<div style="width:697px;height:550px;border:#ccc solid 1px;" id="dituContent"></div>
			<div id="longi"></div>
			<div id="lati"></div>
			<div id="allmap"></div>
			</ul>
			<!-- /.pagination -->
		</div>
	</div>
</div>

</body>
<script type="text/javascript">
    //创建和初始化地图函数：
    function initMap(longitude,latitude,makerArr){
        createMap(longitude,latitude);//创建地图
        setMapEvent();//设置地图事件
        addMapControl();//向地图添加控件
        addMarker(makerArr);//向地图中添加marker
    }

    //创建地图函数：
    function createMap(longitude,latitude){
        var map = new BMap.Map("dituContent");//在百度地图容器中创建一个地图
        var point = new BMap.Point(longitude,latitude);//定义一个中心点坐标
		alert(longitude);
		alert(latitude)
        map.centerAndZoom(point,17);//设定地图的中心点和坐标并将地图显示在地图容器中
        window.map = map;//将map变量存储在全局
    }

    //地图事件设置函数：
    function setMapEvent(){
        map.enableDragging();//启用地图拖拽事件，默认启用(可不写)
        map.enableScrollWheelZoom();//启用地图滚轮放大缩小
        map.enableDoubleClickZoom();//启用鼠标双击放大，默认启用(可不写)
        map.enableKeyboard();//启用键盘上下左右键移动地图
    }

    //地图控件添加函数：
    function addMapControl(){
        //向地图中添加缩放控件
        var ctrl_nav = new BMap.NavigationControl({anchor:BMAP_ANCHOR_TOP_LEFT,type:BMAP_NAVIGATION_CONTROL_LARGE});
        map.addControl(ctrl_nav);
        //向地图中添加缩略图控件
        var ctrl_ove = new BMap.OverviewMapControl({anchor:BMAP_ANCHOR_BOTTOM_RIGHT,isOpen:1});
        map.addControl(ctrl_ove);
        //向地图中添加比例尺控件
        var ctrl_sca = new BMap.ScaleControl({anchor:BMAP_ANCHOR_BOTTOM_LEFT});
        map.addControl(ctrl_sca);
    }

    //标注点数组
    var markerArr = [{title:"我的位置",content:"我的备注",point:"114.13022867849|22.59846960406",isOpen:0,icon:{w:21,h:21,l:0,t:0,x:6,lb:5}}
    ];
    //创建marker
    function addMarker(markerArr1){

        for(var i=0;i<markerArr1.length;i++){
            var json = markerArr[i];
            var json1 = markerArr1[i];
            json.point=(json1.longitude+"|"+json1.latitude);
            var pp=json1.longitude+"|"+json1.latitude;
            var p0 = json.point.split("|")[0];
            var p1 = json.point.split("|")[1];

            var point = new BMap.Point(p0,p1);
            var iconImg = createIcon(json.icon);
            var marker = new BMap.Marker(point,{icon:iconImg});
            var iw = createInfoWindow(i);
            var label = new BMap.Label(json.title,{"offset":new BMap.Size(json.icon.lb-json.icon.x+10,-20)});
            marker.setLabel(label);
            map.addOverlay(marker);
            label.setStyle({
                borderColor:"#808080",
                color:"#333",
                cursor:"pointer"
            });

            (function(){
                var index = i;
                var _iw = createInfoWindow(json);
                var _marker = marker;
                _marker.addEventListener("click",function(){
                    this.openInfoWindow(_iw);
                });
                _iw.addEventListener("open",function(){
                    _marker.getLabel().hide();
                })
                _iw.addEventListener("close",function(){
                    _marker.getLabel().show();
                })
                label.addEventListener("click",function(){
                    _marker.openInfoWindow(_iw);
                })
                if(!!json.isOpen){
                    label.hide();
                    _marker.openInfoWindow(_iw);
                }
            })()
        }
    }
    //创建InfoWindow
    function createInfoWindow(i){
        var json = markerArr[i];
        var iw = new BMap.InfoWindow("<b class='iw_poi_title' title='" + json.title + "'>" + json.title + "</b><div class='iw_poi_content'>"+json.content+"</div>");
        return iw;
    }
    //创建一个Icon
    function createIcon(json){
        var icon = new BMap.Icon("http://app.baidu.com/map/images/us_mk_icon.png", new BMap.Size(json.w,json.h),{imageOffset: new BMap.Size(-json.l,-json.t),infoWindowOffset:new BMap.Size(json.lb+5,1),offset:new BMap.Size(json.x,json.h)})
        return icon;
    }

    //initMap();//创建和初始化地图

    var longitude;
    var latitude;

    //getLocation();
    var map = new BMap.Map("allmap");
    var point = new BMap.Point(116.331398,39.897445);
    map.centerAndZoom(point,12);

    var geolocation = new BMap.Geolocation();
    geolocation.getCurrentPosition(function(r){
        if(this.getStatus() == BMAP_STATUS_SUCCESS) {
            var mk = new BMap.Marker(r.point);
            map.addOverlay(mk);
            map.panTo(r.point);

            longitude=r.point.lng;
            latitude=r.point.lat;
            var long=document.getElementById("longi");
            long.setAttribute("class",longitude);
            var lati=document.getElementById("lati");
            lati.setAttribute("class",latitude);
            var city_name;
            //map.centerAndZoom(point,12);
            var myCity = new BMap.LocalCity();
            myCity.get(myFun);
            function myFun(result) {
                city_name = result.name;
                city_name = city_name.substring(0, 2);
                var request = new XMLHttpRequest();
                request.open('GET', "/getArroundTaskByGPS?city_name=" + city_name + "&latitude=" + latitude + "&longitude=" + longitude, true);
                request.onreadystatechange = function () {
                    if (request.readyState === 4) { // 成功完成
                        // 判断响应结果:
                        if (request.status === 200) {
                            // 成功，通过responseText拿到响应的文本:
                            return success(request.responseText);
                        } else {
                            // 失败，根据响应码判断失败原因:
                            return fail(request.status);
                        }
                    } else {
                        // HTTP请求还在继续...
                    }
                }
                request.send();
            }
        }
        else {
            alert('failed'+this.getStatus());

        }
    },{enableHighAccuracy: true})

    function onSuccess(position){

        longitude =position.coords.longitude;

        latitude = position.coords.latitude;

        var long=document.getElementById("longi");
        long.setAttribute("class",longitude);
        var lati=document.getElementById("lati");
        lati.setAttribute("class",latitude);

        var city_name;

        //map.centerAndZoom(point,12);

        var myCity = new BMap.LocalCity();

        myCity.get(myFun);

        function myFun(result) {
            city_name = result.name;
            city_name = city_name.substring(0, 2);


            var request = new XMLHttpRequest();
            request.open('GET', "/getArroundTaskByGPS?city_name=" + city_name + "&latitude=" + latitude + "&longitude=" + longitude, true);
            request.onreadystatechange = function () {
                if (request.readyState === 4) { // 成功完成
                    // 判断响应结果:
                    if (request.status === 200) {
                        // 成功，通过responseText拿到响应的文本:
                        return success(request.responseText);
                    } else {
                        // 失败，根据响应码判断失败原因:
                        return fail(request.status);
                    }
                } else {
                    // HTTP请求还在继续...
                }
            }
            request.send();
        }

    }
    //失败时
    function onError(error){
        switch(error.code){
            case 1:
                alert("位置服务被拒绝");
                break;
            case 2:
                alert("暂时获取不到位置信息");
                break;
            case 3:
                alert("获取信息超时");
                break;
            case 4:
                alert("未知错误");
                break;
        }
    }

    function success(text) {
        var jsonData = JSON.parse(text);
        var Infotbody = document.getElementById('Infotbody');

        var task_id;
        var task_name;
        var city_name;
        var latitude;
        var longitude;
        var price;
        var start_date;
        var end_date;
        var introduction;
        var applies_limit;

        var longitude=document.getElementById("longi").className;
        var latitude=document.getElementById("lati").className;

        initMap(longitude,latitude,jsonData);//创建和初始化地图
    }


</script>
</html>