<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <div th:replace="common/common::head"></div>
    <div th:replace="common/common::logo"></div>
    <div th:replace="common/common::topbar"></div>
    <div th:replace="common/common::style"></div>
    <div th:replace="common/common::sidebar"></div>
    <div th:replace="common/common::foot"></div>

    <link rel="stylesheet" type="text/css" th:href="@{/thirdStyledata/css/jiazaitoubu.css}">
    <script th:src="@{/thirdStyledata/js/jquery-1.8.3.min.js}"></script>
    <script th:src="@{/thirdStyledata/js/index2.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/thirdStyledata/css/center.css}">
</head>
<body>
<!-- 内容区域 -->
<div class="tpl-content-wrapper">
    <div class="row-content am-cf">
        <div class="row">
            <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                <div class="widget am-cf">
                    <div class="widget-head am-cf">
                        <div class="widget-title am-fl">任务详情<span th:text="${msg}"></span></div>
                        <div class="widget-function am-fr">
                            <a href="javascript:;" class="am-icon-cog"></a>
                        </div>
                    </div>
                    <div class="widget-body am-fr">
                        <form method="post" action="/addTask" class="am-form tpl-form-line-form">
                            <div class="am-form-group">
                                <label for="user-name" class="am-u-sm-3 am-form-label">任务名 <span class="tpl-form-line-small-title">Taskname</span></label>
                                <div class="am-u-sm-9">
                                    <input type="text" readonly="true" class="tpl-form-input" id="taskname" name="taskname" placeholder="请输入任务名" th:value="${taskinfo.task_name}">
                                </div>
                            </div>

                            <div class="am-form-group">
                                <label class="am-u-sm-3 am-form-label">任务经度 <span class="tpl-form-line-small-title">longitude</span></label>
                                <div class="am-u-sm-9">
                                    <input type="text" readonly="true" id="longitude" name="longitude" placeholder="请输入经度" th:value="${taskinfo.longitude}">
                                </div>
                            </div>

                            <div class="am-form-group">
                                <label class="am-u-sm-3 am-form-label">任务纬度 <span class="tpl-form-line-small-title">latitude</span></label>
                                <div class="am-u-sm-9">
                                    <input type="text" readonly="true" id="latitude" name="latitude" placeholder="请输入纬度" th:value="${taskinfo.latitude}">
                                </div>
                            </div>

                            <div class="am-form-group">
                                <label class="am-u-sm-3 am-form-label">人数 <span class="tpl-form-line-small-title">limit</span></label>
                                <div class="am-u-sm-9">
                                    <input type="text" readonly="true" id="limit" name="limit" placeholder="请输入限定人数" th:value="${taskinfo.applies}+'/'+${taskinfo.applies_limit}">
                                </div>
                            </div>

                            <div class="am-form-group">
                                <label for="user-email" class="am-u-sm-3 am-form-label">任务开始时间 <span class="tpl-form-line-small-title">startTime</span></label>
                                <div class="am-u-sm-9">
                                    <input type="text" th:value="${taskinfo.start_date}" readonly="true"
                                    id="startTime" name="startTime" placeholder="开始时间" >
                                </div>
                            </div>

                            <div class="am-form-group">
                                <label for="user-email" class="am-u-sm-3 am-form-label">任务结束时间 <span class="tpl-form-line-small-title">endTime</span></label>
                                <div class="am-u-sm-9">
                                    <input type="text" th:value="${taskinfo.end_date}" readonly="true"
                                           id="endTime" name="endTime" placeholder="结束时间" >
                                </div>
                            </div>

                            <div class="am-form-group">
                                <label class="am-u-sm-3 am-form-label">任务发布城市名 <span class="tpl-form-line-small-title">limit</span></label>
                                <div class="am-u-sm-9">
                                    <input type="text" readonly="true" id="limit" name="limit" placeholder="请输入限定人数" th:value="${taskinfo.city_name}">
                                </div>
                            </div>

                            <div class="am-form-group">
                                <label for="user-intro" class="am-u-sm-3 am-form-label">任务描述</label>
                                <div class="am-u-sm-9">
                                    <textarea class="" th:text="${taskinfo.introduction}" readonly="true"
                                              rows="10" id="introduction" name="introduction1" placeholder="请输入任务描述"></textarea>
                                </div>
                            </div>

                            <div class="am-form-group">
                                <label class="am-u-sm-3 am-form-label">任务定价 <span class="tpl-form-line-small-title">price</span></label>
                                <div class="am-u-sm-9">
                                    <input type="text" readonly="true" th:value="${taskinfo.price}" id="price" name="price1" placeholder="请输入任务定价">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>